
html, body, div#board {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

div#board {
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
}

section {
    width: 45%;
    margin: 2%;
    height: 20%;
    position: relative;
    float: left;

}

div.Item {
    border: 1px solid #7897F3;
    border-radius: 20px;

    width: 100%;
    height: 100%;
    background-color: #F1F4FE;

    position: absolute;

      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;

}

div.Item.Flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

div.Item .Side {
    border: 1px solid #7897F3;
    border-radius: 20px;
    line-height: 120px;
    vertical-align: middle;


      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}


div.Item img {
}

/* Back side of the piece */
div.Item div {
    color: #F1F4FE;
    font-size: 40px;
    text-align: center;
    line-height: 120px;
    vertical-align: middle;
    background-color: #B1C3F8;
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

div#overlay {
    background-color: #514;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: none;
}

div#overlay > button {
    margin: 0px auto;
    display: block;
    padding: 10px;
    border-radius: 30px;
    border: 10px solid white;
    font-weight: bold;
    margin-top: 10%;
    font-size: 130px; font-size: 10vw;
    color: white;
    background-color: #924;
    opacity: 1;
}

